<h1>Centro Medico Hospital MetaPower S.L.</h1>
<h2>LISTADO DE PACIENTES</h2>
<table>
    <thead>
        <tr>
            <th>Nombre del paciente</th>
            <th>Apellido del paciente</th>
            <th>Cédula del paciente</th>
            <th>Edad</th>
            <th>Telefono</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each pacientes}}
        <tr>
            <form action="/pacientes/actualizar/{{cedula}}" method="post">
                <td><input id="nombre_paciente" name="nombre_paciente" value="{{nombre}}" {{../opcion}}></td>
                <td><input id="apellido_paciente" name="apellido_paciente" value="{{apellido}}" {{../opcion}}></td>
                <td><input id="cedula" name="cedula" value="{{cedula}}" disabled></td>
                <td><input id="edad" name="edad" value="{{edad}}" {{../opcion}}></td>
                <td><input id="telefono" name="telefono" value="{{telefono}}" {{../opcion}}></td>
                <td>
                {{#if ../estado}}
                    <a class="eliminar" href="/pacientes/eliminar/{{cedula}}" onclick="return confirm('¿Esta seguro que desea eliminar el registro?')" title="Eliminar registro" ><img src="/images/delete.png"></a>
                    <a class="editar" href="/pacientes/activar" title="Editar registro"><img src="/images/edit.png"></a>
                {{else}}
                    <input type="submit" value="Enviar">
                {{/if}}
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="opciones-tabla">
<a class="volver" href="/">Volver</a>
<a href="/pacientes/agregar-paciente">Agregar paciente</a>
</div>
